/* FLEXBOX */
#deck,
#communityCards,
#players,
.player,
.playerCards,
#flop,
#turn,
#river {
  display: flex;
}

#players {
  flex-direction: column;
}

.player {
  flex-direction: column;
}

/* SUIT COLORS */
.hearts {
  background-color: crimson;
}
.diamonds {
  background-color: lightcoral;
}
.spades {
  background-color: grey;
}
.clubs {
  background-color: azure;
}
